
footer {
  background-color: var(--dark-color);
  box-sizing: border-box;
  color: #fff;
  padding: 4rem 0;
}
footer h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2;
}

footer p {
  text-align: center;
  width: 90%;
  margin: 0 auto 1rem;
}
footer div {
  text-align: center;
  margin-bottom: 3rem;
}
footer div a {
  background-color: var(--primary-color);
  width: 2rem;
  border-radius: 50%;
  display: inline-block;
  margin: 0 .5rem;
  color: #fff;
  opacity: 1;
  transition: color .3s ease, background-color .3s ease;
}
footer div a:hover {
  background-color: #fff;
  color: var(--primary-color);
}
footer div a .bx {
  line-height: 2rem;
}
footer h5 {
  color: var(--primary-opacity-color);
  text-align: center;
}

@media screen and (min-width: 1024px) {
  footer {
    width: 90%;
    margin: 0 auto 2rem;
    border-radius: 1rem;
  }
}
